* {
    foreground:           #FFEE79;
    selected-foreground:  #FFEE79;
    
    background:           #18191E; 
    background-solid:     #18191E; 
    selected-background:  #21252D; 
    /*#87b5d7;*/  
    /*#6eacda;*/
    /*#deca72;*/
    /*#39c9fe;*/

    red:                  rgba ( 220, 50, 47, 100 % );
    blue:                 rgba ( 38, 139, 210, 100 % );
}

